@use 'sass:color';

@use '@material/theme/color-palette';

// Svelte Colors! (Dark Theme)
@use '@material/theme/index' as theme with (
  $primary:  #ffffff00,
  $on-primary: #68A6A6,
  $secondary: #9373D9,
  $surface: #fff,
  $on-surface: #696969,
  $background: #fff
);
// Darker

html,
body {
  background-color: none;
  color: theme.$on-surface;
}

a {
  color: #40b3ff;
}
a:visited {
  color: $on-primary-active;
}


:root {
  --primary: #{theme.$primary};
  --on-primary: #{theme.$on-primary};
  --secondary: #{theme.$secondary};
  --surface: #{theme.$surface};
  --background: #{theme.$background};
  --error: #{theme.$error};
  --outlineStroke: #{theme.$grey-300};
}

/* Classes for each theme color */
.bg-primary {
  background-color: var(--primary);
}

.bg-on-primary {
  background-color: var(--on-primary);
}

.bg-on-primary-hover {
  background-color: var(--on-primary-hover);
}

.bg-secondary {
  background-color: var(--secondary);
}

.bg-surface {
  background-color: var(--surface);
}

.bg-on-surface {
  background-color: var(--on-surface);
}

.bg-background {
  background-color: var(--background);
}
